
.title {
    background-color: rgba(78, 80, 87, 0.2);
    border-radius: 0.2rem;
    font-size: x-large;
    font-weight: 600;
    color: white;
    padding: 1rem;
}

.infotext {
    display: flex;
    color: #FEC704;
}