
.infoComponent {
  display: flex;
  flex-direction: column;
  border-radius: 0.2rem;
  }
  
.coverImg {
  position: absolute;
  grid-area: cover;
  border-radius: 0.2rem;
  height: auto;
  max-width: 30vh;
  margin-left: 30vw;
  right: 0;
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
  margin: 1rem;
  margin-top: 0rem;
}

.length {
  position: flex;
  background-color: rgba(20, 20, 20, 0.5);
  border-radius: 0.2rem;
  font-size: x-large;
  font-weight: 500;
  color: #eeeeee;
  margin-top: 1rem;
  padding: 1rem;
}

.picntime {
  margin-top: 1rem;
  display: flex;
  position: static;
  left: 0;
}

.showtimeList {
  position: flex;
  grid-area: show;
}
