.showtimeList {
    background-color: rgba(50, 50, 50, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid black;
    width: 400px;
    height: 60vh;
    overflow-y: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}