.headerFinnkino {
    background-color: rgba(10, 10, 10, 0.9);
    backdrop-filter: blur(0.5rem);
    text-align: left;
    width: 100%;
    /* top: 0; */
    /* position: fixed; */
    z-index: 5;
}

.headerText {
  font-size: normal;
  font-weight: 700;
  color: #FEC704;
  cursor: pointer;
}

.divText {
  padding-left: 2rem;
  padding-right: 2rem;
}

.headerText:hover {
  animation: ease-out;
  transition: 0.3s;
  color: #ffd950;
}