body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #595959;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: #232323;
  text-align: left;
  position: absolute;
  width: 100%;
  height: 60px;
  z-index: 5;
  
}

h1 {
  color: #FEC704;
}

.searchComponent {
  background-color: #FEC704;
  width: 500px;
  height: 800px;
  position: fixed;
  margin-top: 10vh;
  margin-left: 10vh;
}