body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #595959;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: #232323;
  text-align: left;
  width: 100%;
  height: 80px;
  top: 0;
  position: fixed;
  z-index: 5;
  
}

h1 {
  color: #FEC704;
}

.mainComponents{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-bottom: 1rem;
  padding: 10px;
}

.searchComponent {
  background-color: #FEC704;
  width: 500px;
  height: 800px;
  border: 1px solid black;

}

.infoComponent {
  background-color: #ae1515;
  width: 500px;
  height: 800px;
  border: 1px solid black;
}
